[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
After=docker.service
Requires=docker.service

[Service]
WorkingDirectory=/var/lib/kubelet
ExecStart=/usr/local/bin/kubelet \
  --bootstrap-kubeconfig=/etc/kubernetes/bootstrap.kubeconfig \
  --kubeconfig=/etc/kubernetes/kubelet.kubeconfig \
  --address={{ansible_ssh_host}} \
  --hostname-override={{ansible_ssh_host}} \
  --pod-infra-container-image={{docker_registry_url}}/zcm_k8s/pause-amd64:3.0 \
  --cert-dir=/etc/kubernetes/ssl \
  --cluster-dns={{cluster_dns_ip}} \
  --cluster-domain=cluster.local. \
  --hairpin-mode=promiscuous-bridge \
  --allow-privileged=true \
  --serialize-image-pulls=false \
  --logtostderr=true \
  --cgroup-driver=cgroupfs \
  --fail-swap-on=false \
  --anonymous-auth=false \
  --client-ca-file=/etc/kubernetes/ssl/ca.pem \
  --network-plugin=cni \
  --v=2
ExecStartPre=-{{var1}} -p /sys/fs/cgroup/memory/kubepods
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
